/*
 * @name:tobyRuler;
 * @author:tqtan;
 * @date:2014-04-14;
 * @content:头部样式;
*/

body{margin: 0;-webkit-font-smoothing: antialiased;
	font-family: 'Helvetica Neue', Helvetica, 'Source Sans Pro', 'Hiragino Sans GB', 'Microsoft Yahei', arial, sans-serif;
	/*font-family: font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";*/
	/*font-weight: lighter;*/
}

header{height: 50px;width: 100%;background-color: #0f2d38;}
header .logo{position: absolute;width: 110px;height: 28px;top: 11px;}
header .logo a{display: inline-block;width: 100%;height: 100%;}
header .logo img{display: inline-block;width: 100%;height: 100%;}
header nav{}
header nav ul{list-style: none;margin: 0;padding-left: 0;margin-left: 125px;}
header nav ul li{display: inline-block;width: 55px;height: 50px;vertical-align: top;}
header nav ul li a{display: inline-block;width: 100%;height: 100%;line-height: 50px;text-decoration: none;color: #7c889a;font-size: 14px;text-align: center;}
header nav ul li a:hover{color: #ddd;}

footer{height: 100px;width: 100%;background-color: #fff;border-top: 1px solid #ddd;}
footer p{margin: 0;color: #999;position: absolute;right: 0;bottom: 0px;}
footer p a{color: #444;text-decoration: none;}

.inner{width: 980px;margin: 0 auto;position: relative;height: 100%;}
.hide{display: none!important;}
