/*
 * @name:tobyRuler;
 * @author:tqtan;
 * @date:2014-04-14;
 * @content:主页样式;
*/

#container{background-color: #eee;height: 600px;width: 100%;}

#slide-wrap{width: 125px;height: 100%;position: fixed;top: 0;right: 0;}
#slide{width: 125px;position: fixed;top: 200px;right: -115px;}
#slide ul{margin: 0;padding-left: 0;list-style: none;}
#slide ul li{display: inline-block;display: block;margin-bottom: 5px;}
#slide ul li a{display: inline-block;display: block;text-align: left;color: #00d588;text-decoration: none;font-size: 14px;background-color: #fff;
	height: 50px;line-height: 50px;border-radius: 25px 0 0 25px;cursor: pointer;box-shadow: 0 1px 1px #888;transition:all 0.2s ease-in;
	padding-left: 30px;}
#slide ul li a:hover{background-color: #00d588;color: #fff;}
.icon{width: 20px;height: 20px;background-size: 20px 20px;display: inline-block;margin-right: 5px;}
#slide ul li .icon-download{background-image: url(img/icon-download.png);vertical-align: -4px;}
#slide ul li .icon-setting{background-image: url(img/icon-setting.png);vertical-align: -4px;}
#slide ul li .icon-calendar{background-image: url(img/icon-calendar.png);vertical-align: -5px;}
#slide ul li a:hover .icon-download{background-image: url(img/icon-download-white.png);}
#slide ul li a:hover .icon-setting{background-image: url(img/icon-setting-white.png);}
#slide ul li a:hover .icon-calendar{background-image: url(img/icon-calendar-white.png);}

.frame{position: relative;}
.frame img{display: block;width: 100%;height: auto;}
.fdownload-btn{position: absolute;top: 387px;left: 144px;display: inline-block;width: 285px;height: 94px;}
.ffunction1-btn{position: absolute;top: 438px;left: 747px;display: inline-block;width: 308px;height: 81px;}
.ffunction2-btn{position: absolute;top: 416px;left: 165px;display: inline-block;width: 308px;height: 81px;}
.ffunction3-btn{position: absolute;top: 447px;left: 750px;display: inline-block;width: 308px;height: 81px;}
.ffunction4-btn{position: absolute;top: 421px;left: 166px;display: inline-block;width: 308px;height: 81px;}
.video-btn{position: absolute;top: 395px;left: 665px;display: inline-block;width: 100px;height: 100px;border-radius: 60px;
	background-color: #fff;text-align: center;line-height: 100px;box-shadow: 0 2px 1px #888;transition:all .2s ease-out;}
.video-btn img{width: 60px;height: 60px;margin-top: 20px;margin-left: 25px;}
.video-btn:hover{box-shadow: 0 2px 5px #555;}
.fexp1-btn{position: absolute;top: 631px;left: 474px;display: inline-block;width: 283px;height: 92px;}
.fexp1-input1,.fexp1-input2{border: none;}
.fexp1-input1:focus,.fexp1-input2:focus{outline: none;}
.fexp1-input1{position: absolute;top: 339px;left: 423px;display: inline-block;width: 464px;height: 28px;padding:10px 0;line-height: 24px;font-size: 18px;color: #999}
.fexp1-input2{position: absolute;top: 410px;left: 423px;display: inline-block;width: 464px;height: 28px;padding:10px 0;line-height: 24px;font-size: 18px;color: #999}
.fexp2-input{position: absolute;top: 498px;left: 188px;display: inline-block;width: 236px;height: 53px;border: 0;font-size: 18px;line-height: 24px;color: #999;}
.fexp2-input:focus{outline: none;}
.fexp2-btn{position: absolute;top: 497px;left: 428px;display: inline-block;width: 125px;height: 57px;}
.fexp3-input{position: absolute;top: 245px;left: 681px;display: inline-block;width: 297px;height: 54px;border: 0;font-size: 18px;line-height: 24px;color: #999;background-color: #f5f5f3}
.fexp3-input:focus{outline: none;}
.fexp3-btn{position: absolute;top: 245px;left: 982px;display: inline-block;width: 125px;height: 57px;}
.fdownloadpg-panel{position: absolute;top: 331px;left: 452px;display: inline-block;width: 590px;height: 545px;overflow-x:auto;}
.fdownloadpg-panel img{height: 100%;width: auto;}
