/*
 * @name:tobyRuler;
 * @author:tqtan;
 * @date:2014-04-14;
 * @content:展示页样式;
*/

/*尺寸
 * scale:0.33946078431373;
 * bg:2880x1880->980x640;
 * iphone:971x1781->330x605;
 * page:816x1448->277x492;
 * begin_btn:428x428->145x145;
 * hand:272x282->92x95;
 * tab_heaa:816x61->277x19;
 * 08dot:126x66->50x30;
 * 08rule:34x255->11x86;
 * 08dot:126x66->55x55;
*/

/* 基本属性 */
#display{background-color: #eee;height: 100%;}
#display img{display: block;/*解决底部3px*/}
#display .frame{position: relative;height: 640px;width: 980px;overflow: hidden;}
#display .bg{width: 980px;height: 640px;background-size: 980px 640px;position: absolute;}
#display .front{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
#display .front .iphone{background-image: url(img/iphone.png);width: 330px;height: 605px;
	background-size: 330px 605px;position: relative;left: 325px;top: 35px;}
#display .front .iphone-inner{position: relative;width: 277px;height: 492px;top: 102px;left: 26px;overflow: hidden;}
#display .front .tab-head{position: absolute;width: 277px;height: 19px;top: 102px;left: 26px;background-image: url(img/tab_head.png);background-size: 277px 19px;z-index: 2}
#display .front .page{width: 277px;height: 492px;background-size: 277px 492px;position: absolute;top: 0px;left: 0px;z-index: 1}
#display .front .begin-btn{background-image: url(img/begin_btn.png);background-size: 145px 145px;width: 145px;height: 145px;
	position: absolute;top: 230px;left: 92.5px;cursor: pointer;opacity: 0.9;transition:all 0.1s ease-in;z-index: 3;}
#display .front .begin-btn:hover{opacity: 1.0;}
#display #opt{position: relative;left: 888px;top: 320px;z-index: 9999;opacity: 0.5;}
#display #opt #hand{background-image: url(img/hand.png);background-size: 92px 95px;width: 92px;height: 95px;position: absolute;left: 5px;top: 6px;z-index: 2}
#display #opt #clickdot{height: 20px;width: 20px;border-radius: 10px;background-color: #770000;position: absolute;z-index: 1;opacity: 0.7}
#display .front .pagebackground{width: 277px;height: 492px;background-color: #fff;position: absolute;left: 26px;top: 102px;}
#display .front .end{width: 277px;height: 492px;background-color: #fff;position: absolute;left: 26px;top: 102px;}
#display .front .end .end-input1,
#display .front .end .end-input2{position: absolute;border: none;width: 275px;left: 0px;height: 55px;line-height: 25px;font-weight: lighter;font-family: 'Helvetica Neue';text-align: center;}
#display .front .end .end-input1:focus,
#display .front .end .end-input2:focus{outline: none;}
#display .front .end .end-input1{top: 135px;font-size: 35px;color: #077;}
#display .front .end .end-input2{top: 185px;font-size: 20px;}
#display .front .end #again{color: #fff;background-color: #077;position: absolute;left: 90px;top: 255px;width: 87px;height: 30px;line-height: 27px;font-size: 25px;opacity: 0;cursor: pointer;
	font-weight: lighter;font-family: 'Helvetica Neue';text-align: center;padding: 2px 0;transition:all .2s ease-in;-webkit-transition:all .2s ease-in;}
#display .front .end #again:hover{background-color: #099;}

/* 异化场景 */
#display .front .pg6-input{position: absolute;top: 185px;border: none;width: 222px;left: 26px;height: 35px;line-height: 25px;border-radius: 6px;font-size: 16px;text-align: center}
#display .front .pg6-input:focus{outline: none}
#display .front .pg6-input2{position: absolute;top: 225px;border: none;width: 222px;left: 26px;height: 35px;line-height: 25px;border-radius: 6px;font-size: 16px;text-align: center}
#display .front .pg6-input2:focus{outline: none}
#display .front .focus-input{position: absolute;top: 138px;border: none;width: 222px;left: 14px;height: 35px;line-height: 20px;border-radius: 6px;font-size: 16px;text-align: left;background-color: transparent;}
#display .front .focus-input:focus{outline: none;}
#display .front .page8dot-wrap{position: absolute;width: 277px;height: 91px;left: 0;top: 400px;overflow: hidden;}
#display .front .page8dot{background-image: url(img/08dot.png);width: 50px;height: 30px;background-size: 50px 30px;top: 0px;left: 112px;position: absolute;}
#display .front .page8rule{background-image: url(img/08rule.png);width: 15px;height: 109px;background-size: 15px 109px;top: 63px;left: 30px;position: absolute;}
#display .front .page8cover{top: 0;left: 0;background-color: #fff;opacity: 0.7;width: 277px;height: 492px;z-index: 9999;}
#display .front .page15dot-wrap{position: absolute;width: 277px;height: 91px;left: 0;top: 400px;overflow: hidden;}
#display .front .page15dot{background-image: url(img/15dot.png);width: 55px;height: 55px;background-size: 55px 55px;top: 19px;left: 111px;position: absolute;}
#display .front .page15input-wrap{position: absolute;width: 277px;height: 109px;left: 0;top: 63px;overflow: hidden;}
#display .front .page15input1,
#display .front .page15input2,
#display .front .page15input3{position: absolute;width: 89px;height: 109px;text-align: center;line-height: 109px;font-size: 60px;font-weight: lighter;}
#display .front .page15input1{left: 0;top: 0px;}
#display .front .page15input2{left: 94px;top: 0px;}
#display .front .page15input3{left: 187px;top: 0px;}
#display .front .page15inputActive{color: #009999;}
#display .front .page15cover{top: 0;left: 0;background-color: #fff;opacity: 0.7;width: 277px;height: 492px;z-index: 9999;}
#display .front .page23bar1,
#display .front .page23bar2,
#display .front .page23bar3{background-image: url(img/23bar.png);background-size: 175px 10px;width: 175px;height: 10px;position: absolute;left: 95px;}
#display .front .page23bar1{top: 85px;}
#display .front .page23bar2{top: 201px;}
#display .front .page23bar3{top: 372px;}
#display .front .page23dot{background-image: url(img/23dot.png);background-size: 34px 32px;width: 34px;height: 32px;position: absolute;top: 146px;left: 28px;z-index: 3}
#display .front .page23dotpg{background-image: url(img/23dotpg.png);background-size: 50px 30px;width: 50px;height: 30px;position: absolute;top: 145px;left: 28px;}
#display .front .page23dotpw{background-image: url(img/23dotpw.png);background-size: 50px 30px;width: 50px;height: 30px;position: absolute;top: 145px;left: 28px;}
#display .front .page23human{background-image: url(img/23human.png);background-size: 100px 295px;width: 100px;height: 295px;position: absolute;top: 88px;left: 136px;}
#display .front .page23cover{top: 0;left: 0;background-color: #fff;opacity: 0.7;width: 277px;height: 492px;z-index: 9999;}

/* 基本背景 */
#display .bg1{background-image: url(img/bg01.png);opacity: 1;}
#display .bg2{background-image: url(img/bg02.png);left: 200px;opacity: 0;}
#display .bg3{background-image: url(img/bg03.png);left: 200px;opacity: 0;}
#display .bg4{background-image: url(img/bg04.png);left: 200px;opacity: 0;}
#display .bg5{background-image: url(img/bg05.png);left: 200px;opacity: 0;}
#display .bg6{background-image: url(img/bg06.png);left: 200px;opacity: 0;}
#display .bg7{background-image: url(img/bg07.png);left: 200px;opacity: 0;}
#display .bg8{background-image: url(img/bg0809.png);left: 200px;opacity: 0;}
#display .bg9{background-image: url(img/bg10.png);left: 200px;opacity: 0;}
#display .bg10{background-image: url(img/bg11.png);left: 200px;opacity: 0;}
#display .bg11{background-image: url(img/bg12131415.png);left: 200px;opacity: 0;}
#display .bg12{background-image: url(img/bg12131415.png);left: 200px;opacity: 0;}
#display .bg13{background-image: url(img/bg12131415.png);left: 200px;opacity: 0;}
#display .bg14{background-image: url(img/bg12131415.png);left: 200px;opacity: 0;}
#display .bg15{background-image: url(img/bg1617.png);left: 200px;opacity: 0;}
#display .bg16{background-image: url(img/bg18.png);left: 200px;opacity: 0;}
#display .bg17{background-image: url(img/bg19.png);left: 200px;opacity: 0;}
#display .bg18{background-image: url(img/bg20212223.png);left: 200px;opacity: 0;}
#display .bg19{background-image: url(img/bg20212223.png);left: 200px;opacity: 0;}
#display .bg20{background-image: url(img/bg20212223.png);left: 200px;opacity: 0;}
#display .bg21{background-image: url(img/bg20212223.png);left: 200px;opacity: 0;}
#display .bg22{background-image: url(img/bg24.png);left: 200px;opacity: 0;}
#display .bg23{background-image: url(img/bg2526.png);left: 200px;opacity: 0;}
#display .bg24{background-image: url(img/bg2526.png);left: 200px;opacity: 0;}
#display .bg25{background-image: url(img/bg27.png);left: 200px;opacity: 0;}
#display .bg26{background-image: url(img/bg28293031.png);left: 200px;opacity: 0;}
#display .bg27{background-image: url(img/bg28293031.png);left: 200px;opacity: 0;}
#display .bg28{background-image: url(img/bg28293031.png);left: 200px;opacity: 0;}
#display .bg29{background-image: url(img/bg28293031.png);left: 200px;opacity: 0;}
#display .bg30{background-image: url(img/bg32333435.png);left: 200px;opacity: 0;}
#display .bg31{background-image: url(img/bg32333435.png);left: 200px;opacity: 0;}
#display .bg32{background-image: url(img/bg32333435.png);left: 200px;opacity: 0;}
#display .bg33{background-image: url(img/bg32333435.png);left: 200px;opacity: 0;}
#display .front .page1{background-image: url(img/01.png);opacity: 1;}
#display .front .page2{background-image: url(img/02.png);opacity: 0;left: 280px;}
#display .front .page3{background-image: url(img/03.png);opacity: 0;left: 280px;}
#display .front .page4{background-image: url(img/04.png);opacity: 0;left: 280px;}
#display .front .page5{background-image: url(img/05.png);opacity: 0;left: 280px;}
#display .front .page6{background-image: url(img/06.png);opacity: 0;left: 280px;}
#display .front .page7{background-image: url(img/07.png);opacity: 0;left: 280px;}
#display .front .page8{background-image: url(img/08.png);opacity: 0;left: 280px;}
#display .front .page8info{background-image: url(img/08info.png);}
#display .front .page9{background-image: url(img/09.png);opacity: 0;left: 280px;}
#display .front .page10{background-image: url(img/10.png);opacity: 0;left: 280px;}
#display .front .page11{background-image: url(img/11.png);opacity: 0;left: 280px;}
#display .front .page11info{background-image: url(img/11info.png);}
#display .front .page13{background-image: url(img/13.png);opacity: 0;left: 280px;}
#display .front .page14{background-image: url(img/14.png);opacity: 0;left: 280px;}
#display .front .page15{background-image: url(img/15.png);opacity: 0;left: 280px;}
#display .front .page15info{background-image: url(img/15info.png);}
#display .front .page16{background-image: url(img/16.png);opacity: 0;left: 280px;}
#display .front .page17{background-image: url(img/17.png);opacity: 0;left: 280px;}
#display .front .page18{background-image: url(img/18.png);opacity: 0;left: 280px;}
#display .front .page18info{background-image: url(img/18info.png);}
#display .front .page20{background-image: url(img/20.png);opacity: 0;left: 280px;}
#display .front .page21{background-image: url(img/21.png);opacity: 0;left: 280px;}
#display .front .page22{background-image: url(img/22.png);opacity: 0;left: 280px;}
#display .front .page23{background-image: url(img/23.png);opacity: 0;left: 280px;}
#display .front .page24{background-image: url(img/24.png);opacity: 0;left: 280px;}
#display .front .page25{background-image: url(img/25.png);opacity: 0;left: 280px;}
#display .front .page26{background-image: url(img/26.png);opacity: 0;left: 280px;}
#display .front .page26info{background-image: url(img/26info.png);}
#display .front .page28{background-image: url(img/28.png);opacity: 0;left: 280px;}
#display .front .page29{background-image: url(img/29.png);opacity: 0;left: 280px;}
#display .front .page30{background-image: url(img/30.png);opacity: 0;left: 280px;}
#display .front .page31{background-image: url(img/31.png);opacity: 0;left: 280px;}
#display .front .page32{background-image: url(img/32.png);opacity: 0;left: 280px;}
#display .front .page33{background-image: url(img/33.png);opacity: 0;left: 280px;}



